.enter-costumer-name {
  position: absolute;
  top: 13px;
  left: 24px;
  font-weight: 300;
}
.button,
.customer {
  position: absolute;
  left: 0;
}
.button {
  top: 40px;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 266px;
  height: 50px;
}
.customer {
  top: 0;
  color: var(--color-black);
}
.button-parent {
  position: relative;
  width: 266px;
  height: 90px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
