.search,
.search-normal-icon {
  position: absolute;
  height: 46.15%;
  top: 26.72%;
}
.search-normal-icon {
  width: 3.66%;
  right: 93.28%;
  bottom: 27.12%;
  left: 3.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search {
  width: 8.7%;
  left: 9.16%;
  display: inline-block;
}
.search-bar {
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 655px;
  height: 52px;
}
.notification-wrapper,
.top-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.top-header {
  position: absolute;
  top: 0;
  left: 1px;
  width: 1129px;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
  font-family: var(--font-poppins);
}
